.welcome-container {
  box-sizing: border-box;
  background-color: #334551;
  background-image: url("../images/index/welcome-background.jpg");
  background-size: 1200px 485px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 51px;
  padding-bottom: 82px;
}

.welcome-title-wrapper {
  width: 458px;
  height: 352px;
  margin-left: auto;
  margin-right: auto;
}

.welcome-title {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.about-container {
  background-color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding-top: 63px;
  padding-bottom: 90px;
}

.about-title, .subscribe-title, .find-hotel-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: auto 384px 384px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.advantages-item {
  text-align: center;
}

.advantages-title {
  margin-top: 92px;
  margin-bottom: 30px;
}

.advantages-number {
  margin-bottom: 30px;
}

.advantages-item.true-city {
  grid-column: span 3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.advantages-item.devil-bridge {
  grid-column: span 3;
  display: flex;
  flex-direction: row-reverse;
}

.advantages-title, .features-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-number, .advantages-description, .features-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.features-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.features-item {
  box-sizing: border-box;
  width: 400px;
  height: 384px;
}

.features-title {
  padding: 0px;
  margin: 0px;
  padding-top: 182px;
}

.advantages-item:nth-child(n+3) .advantages-title {
  margin-top: 103px;
}

.features-description {
  margin-top: 30px;
  padding: 0px;
}

.dark-colored-item {
  background-color: #82B3D3;
  color: #ffffff;
  width: 400px;
}

.light-colored-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.medium-colored-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.features-item:nth-child(1) {
  background-image: url("../images/index/accomodation-icon.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position: center 80px;
}

.features-item:nth-child(2) {
  background-image: url("../images/index/food-icon.svg");
  background-size: 74px 70px;
  background-repeat: no-repeat;
  background-position: center 81px;
}

.features-item:nth-child(3) {
  background-image: url("../images/index/souvenires-icon.svg");
  background-size: 64px 76px;
  background-repeat: no-repeat;
  background-position: center 78px;
}

.find-hotel {
  background-color: #ffffff;
  text-align: center;
  padding-top: 91px;
  padding-bottom: 93px;
}

.find-hotel-title-wrapper {
  margin-bottom: 29px;
}

.find-hotel-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0px;
  margin-bottom: 56px;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0px;
  margin-bottom: 46px;
}

.find-hotel-link {
  border-radius: 4px;
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 149px;
}

.subscribe {
  background-color: #4a6e80;
  color: #ffffff;
  text-align: center;
  background-image: url("../images/index/subscribe-background.jpg");
  background-size: 1200px 411px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscribe-title {
  margin: 0px;
  margin-bottom: 29px;
}
