@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #e5e5e5;
}

body {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 24px;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  display: flex;
  justify-content: flex-start;
  padding: 0px 70px;
  background-color: #ffffff;
  min-height: 65px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  margin-left: 186px;
  width: 508px;
  list-style: none;
  flex-wrap: wrap;
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
  max-width: 305px;
}

.header-logo {
  margin-right: 47px;
  z-index: 1;
  position: absolute;
}

.navigation-item {
  padding: 0px 17px;
}

.navigation-link {
  display: block;
  padding: 20px 0px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-user .navigation-item {
  padding: 0px 0px;
  height: 66px;
  align-content: flex-end;
}

.navigation-user .navigation-link {
  display: block;
  min-width: 42px;
  height: 66px;
}

.favorites-button {
  margin-right: 20px;
}

.search-button {
  background: url("../images/search.svg") no-repeat;
  box-sizing: border-box; /* Добавлено для центрирования */
  background-position: 50% 50%;
}

.favorites-button {
  background: url("../images/favorites.svg") no-repeat;
  box-sizing: border-box; /* Добавлено для центрирования */
  background-position: 50% 50%;
}

.favorites-counter {
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: -0.1em;
  color: #ffffff;
  background-color: #7db54f;
  text-align: center;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  top: -71px;
  left: 25px;
}

.booking-button {
  width: 160px;
  height: 37px;
  border-radius: 4px;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 37px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  margin-top: 14px;
  margin-bottom: 14px;
}

.subscribe {
  padding: 94px 200px 94px 200px;
}

.subscribe-form {
  display: flex;
}

.subscribe-input {
  display: inline-block;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border-radius: 10px 0px 0px 10px;
  border: none;
  padding: 0px;
  padding-left: 22px;
  width: 600px;
  height: 60px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.subscribe-button {
  display: inline-block;
  box-sizing: border-box;
  background-color: #82b3d3;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  border-radius: 0px 10px 10px 0px;
  border: none;
  padding: 0px;
}

.page-footer {
  min-height: 120px;
}

.footer-container {
  display: flex;
  margin: 0px;
  padding-top: 45px;
  padding-bottom: 35px;
  padding-left: 82px;
  padding-right: 70px;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  padding: 0px;
  max-width: 188px;
  margin-right: auto;
  list-style-type: none;
}

.social-button {
  display: block;
  min-width: 47px;
  min-height: 40px;
}

.footer-social-item:nth-child(1) .social-button {
  background: url("../images/vk-logo.svg") no-repeat;
  background-position: 50% 50%;
}

.footer-social-item:nth-child(2) .social-button {
  background: url("../images/tg-logo.svg") no-repeat;
  background-position: 50% 50%;
}

.footer-social-item:nth-child(3) .social-button {
  background: url("../images/yt-logo.svg") no-repeat;
  background-position: 50% 50%;
}

.footer-address {
  margin-right: 236px;
  padding: 0px;
}

.footer-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  color: #000000;
}

.academy-logo {
  line-height: 0px;
  padding: 0px;
}
