/* Index and common styles */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 24px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0px auto;
  padding: 0px;
  width: 1200px;
  min-height: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  display: flex;
  justify-content: flex-start;
  padding: 0px 70px;
  background-color: #ffffff;
  min-height: 65px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  margin-left: 169px;
  width: 508px;
  list-style: none;
  flex-wrap: wrap;
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
  max-width: 350px;
  margin-left: auto;
}

.header-logo {
  margin-right: 47px;
  z-index: 1;
  position: absolute;
}

.navigation-item {
  padding: 0px 17px;
}

.navigation-item.current .navigation-link::before {
  border-bottom: 2px solid #756257;
  border-spacing: 2px;
  content: "";
  position: absolute;
  top: auto;
  bottom: -17px;
  width: 100%;
}

.navigation-link {
  display: block;
  padding: 5px 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  position: relative;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #756157;
  outline: none;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-user .navigation-item {
  padding: 0px 0px;
  min-height: 66px;
  align-content: flex-end;
  align-self: flex-start;
}

.navigation-user .navigation-link {
  display: block;
  min-width: 42px;
  margin-top: 12px;
  margin-bottom: 12px;
  height: 40px;
}

.favorites-button {
  margin-right: 20px;
}

.search-button {
  box-sizing: border-box;
}

.favorites-button {
  box-sizing: border-box;
}

.search-icon,
.favorites-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
}

.favorites-description {
  position: absolute;
}

.favorites-counter {
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: -0.1em;
  color: #ffffff;
  background-color: #7db54f;
  text-align: center;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  top: -69px;
  left: 24px;
  z-index: 1;
}

.booking-button {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  min-width: 160px;
  max-width: 200px;
  min-height: 37px;
  border-radius: 4px;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  word-wrap: break-word;
  border: none;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
  margin-top: 14px;
  margin-bottom: 14px;
  cursor: pointer;
}

.booking-button:hover,
.booking-button:focus,
.find-hotel-link:hover,
.find-hotel-link:focus,
.result-item-button:hover,
.result-item-button:focus {
  background-color: #615048;
  outline: none;
}

.booking-button:active,
.find-hotel-link:active,
.result-item-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.booking-button:disabled,
.find-hotel-link:disabled,
.result-item-button:disabled {
  background-color: #e5e5e5
}

.welcome-container {
  position: relative;
  box-sizing: border-box;
  background-color: #334551;
  background-image: url("../images/index/welcome-background.jpg");
  background-size: 1200px 485px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 51px;
  padding-bottom: 82px;
}

.welcome-container::before {
  position: absolute;
  content: "";
  background-image: url("../images/index/welcome-divider.svg");
  background-repeat: no-repeat;
  bottom: 0px;
  left: auto;
  right: auto;
  height: 57px;
  width: 1200px;
  z-index: 1;
}

.welcome-title-wrapper {
  width: 458px;
  height: 352px;
  margin-left: auto;
  margin-right: auto;
}

.welcome-title {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.about-container {
  background-color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding-top: 63px;
  padding-bottom: 90px;
}

.about-title,
.subscribe-title,
.find-hotel-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  word-wrap: break-word;
}

.about-description {
  color: #333333;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.advantages-item {
  text-align: center;
  min-height: 384px;
}

.advantages-title {
  margin-top: 92px;
  margin-bottom: 30px;
}

.advantages-number {
  margin-bottom: 30px;
}

.advantages-item.true-city {
  grid-column: span 3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.advantages-item.devil-bridge {
  grid-column: span 3;
  display: flex;
  flex-direction: row-reverse;
}

.advantages-title,
.features-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  word-wrap: break-word;
}

.advantages-number,
.advantages-description,
.features-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  word-wrap: break-word;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.features-item {
  box-sizing: border-box;
  width: 400px;
  min-height: 384px;
}

.features-title {
  padding: 0px;
  margin: 0px;
  padding-top: 182px;
  padding-left: 20px;
  padding-right: 20px;
  word-wrap: break-word;
}

.advantages-item:nth-child(n+3) .advantages-title {
  margin-top: 103px;
}

.features-description {
  color: #333333;
  margin-top: 30px;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  word-wrap: break-word;
}

.dark-colored-item {
  background-color: #82B3D3;
  color: #ffffff;
  width: 400px;
}

.light-colored-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.medium-colored-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.light-colored-item .advantages-description,
.medium-colored-item .advantages-description {
  color: #333333;
}

.features-item:nth-child(1) {
  background-image: url("../images/index/accomodation-icon.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position: center 80px;
}

.features-item:nth-child(2) {
  background-image: url("../images/index/food-icon.svg");
  background-size: 74px 70px;
  background-repeat: no-repeat;
  background-position: center 81px;
}

.features-item:nth-child(3) {
  background-image: url("../images/index/souvenires-icon.svg");
  background-size: 64px 76px;
  background-repeat: no-repeat;
  background-position: center 78px;
}

.find-hotel {
  background-color: #ffffff;
  text-align: center;
  padding-top: 91px;
  padding-bottom: 93px;
}

.find-hotel-title-wrapper {
  margin-bottom: 29px;
}

.find-hotel-description {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0px;
  margin-bottom: 56px;
  padding-left: 20px;
  padding-right: 20px;
  word-wrap: break-word;
}

.subscribe {
  padding: 94px 200px 94px 200px;
}

.index-subscribe {
  background-color: #4a6e80;
  color: #ffffff;
  text-align: center;
  background-image: url("../images/index/subscribe-background.jpg");
  background-size: 1200px 411px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscribe-title {
  word-wrap: break-word;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 29px;
}

.subscribe-description {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 46px;
  padding-left: 20px;
  padding-right: 20px;
  word-wrap: break-word;
}

.index-subscribe-title {
  margin: 0px;
  margin-bottom: 29px;
}

.index-subscribe-description {
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0px;
  margin-bottom: 46px;
}

.subscribe-form {
  display: inline-flex;
}

.subscribe-input {
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border-radius: 10px 0px 0px 10px;
  border: none;
  margin: 0px;
  padding: 0px;
  padding-left: 22px;
  padding-right: 22px;
  width: 600px;
  min-height: 60px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.subscribe-input:hover {
  background-color: #e6e6e6;
}

.subscribe-input:focus {
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.subscribe-input:not(:placeholder-shown) {
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #000000;
  outline: none;
}

.subscribe-button {
  box-sizing: border-box;
  background-color: #82b3d3;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  word-wrap: break-word;
  width: 200px;
  min-height: 60px;
  border-radius: 0px 10px 10px 0px;
  border: none;
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.subscribe-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:disabled {
  background-color: #e5e5e5
}

.find-hotel-link {
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  word-wrap: break-word;
  min-height: 60px;
  width: 574px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.page-footer {
  min-height: 120px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding-top: 45px;
  padding-bottom: 35px;
  padding-left: 70px;
  padding-right: 70px;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  padding: 0px;
  min-width: 146px;
  max-width: 188px;
  margin-right: auto;
  list-style-type: none;
}

.social-button {
  display: block;
  position: relative;
  min-width: 47px;
  min-height: 40px;
}

.social-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  fill: #83b3d3;
}

.social-button:hover .social-icon,
.social-button:focus .social-icon {
  fill: #68a2ca;
}

.social-button:focus {
  outline: none;
}

.social-button:active .social-icon {
  fill: rgba(104, 162, 202, 0.3)
}

.footer-address {
  margin-right: auto;
  padding: 0px;
  text-align: center;
}

.footer-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  color: #000000;
  text-decoration: none;
}

.footer-phone:hover,
.footer-phone:focus {
  color: #756157;
  outline: none;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.academy-logo {
  line-height: 0px;
  padding: 0px;
}

.academy-icon {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  color: #000000;
}

.academy-logo:hover .academy-icon,
.academy-logo:focus .academy-icon {
  color: #756157;
}

.academy-logo:focus {
  outline: none;
}

.academy-logo:active .academy-icon {
  color: rgba(117, 97, 87, 0.3);
}


/* Catalog styles only */

.head-filter-container {
  background-color: #3a6488;
  color: #ffffff;
  background-image: url("../images/catalog/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding: 34px 70px 70px 70px;
}

.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  word-wrap: break-word;
  padding: 0px;
  margin: 0px;
  margin-right: auto;
  margin-bottom: 10px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0px;
  margin-left: 1px;
  margin-bottom: 40px;
  padding: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
  list-style-position: inside;
}

.breadcrumbs-item {
  padding: 0px;
  margin: 0px;
  margin-right: 10px;
  align-content: center;
  box-sizing: border-box;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
  word-break: break-word;
}

.home-icon {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  margin-top: 2px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.breadcrumbs-link:visited {
  color: #ffffff;
}

.breadcrumbs-current .breadcrumbs-link:hover,
.breadcrumbs-current .breadcrumbs-link:focus,
.breadcrumbs-current .breadcrumbs-link:active {
  color: #ffffff;
}

.breadcrumbs-item:not(:nth-of-type(1)) {
  list-style-image: url("../images/catalog/breadcrumbs-marker.svg");
}

.filter-set {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter {
  display: flex;
  flex-wrap: nowrap;
  padding: 0px;
  margin: 0px;
}

.catalog-filter-group {
  padding: 0px;
  margin: 0px;
  margin-right: 72px;
  border: none;
}

.catalog-filter-infrastructure {
  padding: 0px;
  margin: 0px;
  margin-bottom: 30px;
  word-wrap: break-word;
  max-width: 230px;
}


.catalog-filter-type {
  padding: 0px;
  margin: 0px;
  margin-bottom: 30px;
  word-wrap: break-word;
  max-width: 230px;
}

.catalog-filter-infrastructure-item:last-of-type,
.catalog-filter-type-item:last-of-type {
  margin-bottom: 0px;
}

.cost-filter {
  margin: 0px;
  margin-left: auto;
  margin-right: 72px;
}

.catalog-filter-cost {
  margin-bottom: 34px;
  word-wrap: break-word;
  max-width: 300px;
}

.catalog-filter-infrastructure-list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  max-width: 200px;
  word-break: break-word;
}

.catalog-filter-type-list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  max-width: 200px;
  word-break: break-word;
}

.catalog-filter-infrastructure-item,
.catalog-filter-type-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 15px;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
  cursor: pointer;
  outline: none;
}

.control-mark {
  position: absolute;
  left: 0px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control:hover
.control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:focus-within
.control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
}

.control:active
.control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 12px;
  height: 10px;
  background-image: url("../images/catalog/checkbox-marker.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  z-index: 1;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.range-inputs-wrapper {
  display: flex;
  margin-bottom: 28px;
}

.range-input {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  padding-left: 18px;
  padding-right: 46px;
  width: 144px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 44px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input-min {
  position: relative;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right-width: 1px;
}

.input-max {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left-width: 1px;
}

.input-min::placeholder,
.input-max::placeholder {
  color: #ffffff;
}

.input-min:hover,
.input-max:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.input-min:focus,
.input-max:focus {
  box-shadow:
  0px 0px 0px 3px #81b3d2,
  inset 0px 0px 0px 3px #81b3d2;
  border: 2px solid #ffffff;
  outline: none;
}

.input-max:focus {
  padding-left: 17px;
}

.input-min:not(:placeholder-shown),
.input-max:not(:placeholder-shown) {
  background-color: #756257;
}

.input-label {
  position: relative;
}

.input-min-label,
.input-max-label {
  position: absolute;
  top: 50%;
  right: 14px;
  margin: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.3);
  transform: translateY(-50%);
  z-index: 1;
}

.range-scale {
  position: relative;
  height: 4px;
  width: 287px;
  margin-bottom: 0px;
  background-color: rgba(255, 255, 255, 0.5);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border-style: none;
  padding: 0px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus-within {
  outline: 3px solid #83b3d3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: 0px;
}

.toggle-max {
  top: -8px;
  right: 0px;
}

.filter-button-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  margin-top: auto;
}

.apply-filter-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  word-wrap: break-word;
  background-color: #82b3d3;
  margin: 0px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 4px;
  width: 160px;
  min-height: 48px;
  cursor: pointer;
}

.reset-filter-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: transparent;
  min-width: 94px;
  max-width: 160px;
  border: none;
  border-radius: 4px;
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  align-self: center;
  cursor: pointer;
}

.reset-filter-button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.reset-filter-button:focus {
  color: #ffffff;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.reset-filter-button:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.filter-result {
  background-color: #ffffff;
  padding: 56px 71px 18px 72px;
}

.display-control {
  display: flex;
  align-items: flex-start;
  margin-bottom: 56px;
}

.filter-result-title {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 49px;
  word-wrap: break-word;
  padding: 0px;
  margin: 0px;
  margin-right: auto;
  max-width: 513px;
}

.select-control,
.select-quantity {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background: url("../images/catalog/sort-arrow.svg") no-repeat;
  background-position: 255px;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 290px;
  height: 49px;
  padding: 0px 45px 0px 17px;
}

.select-control {
  margin: 0px;
  margin-left: auto;
  margin-right: 78px;
  cursor: pointer;
}

.select-control:hover,
.select-control:focus,
.select-quantity:hover,
.select-quantity:focus {
  border-color: #68a2ca;
  outline: none;
}

.select-control:active,
.select-quantity:active {
  border-color: #3f5e72;
  outline: none;
}

.select-control:disabled,
.select-quantity:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  background: url("../images/catalog/sort-arrow-disabled.svg") no-repeat;
  background-position: 258px;
}

.display-buttons {
  display: flex;
}

.select-display-button {
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.select-display-button:not(:last-child) {
  margin-right: 8px;
}

.select-display-button-current {
  border: 2px solid #000000;
}

.select-display-button:hover,
.select-display-button:active {
  border-color: #000000;
  outline: none;
}

.select-display-button:focus {
  border-color: #68a2ca;
  outline: none;
}

.select-display-button:nth-child(1) {
  background-image: url("../images/catalog/table–icon.svg");
  background-size: 16px 14px;
  background-repeat: no-repeat;
  background-position: center;
}

.select-display-button:nth-child(2) {
  background-image: url("../images/catalog/slideshow–icon.svg");
  background-size: 16px 14px;
  background-repeat: no-repeat;
  background-position: center;
}

.select-display-button:nth-child(3) {
  background-image: url("../images/catalog/list-icon.svg");
  background-size: 16px 14px;
  background-repeat: no-repeat;
  background-position: center;
}

.result-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 18px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  padding-bottom: 66px;
  margin-bottom: 28px;
  border-bottom: 1px solid #e6e6e6;
}

.result-content-wrapper {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 140px 140px;
  grid-template-areas:
  "image image"
  "title title"
  "type price"
  "more to-favorites"
  "star-rating rating";
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  padding: 20px;
  margin: 0px;
  width: 340px;
}

.result-item-image-link {
  grid-area: image;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.result-item-image-link:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.result-item-title-link {
  grid-area: title;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: #000000;
}

.result-item-title-link:hover,
.result-item-title-link:focus {
  color: #756157;
  outline: none;
}

.result-item-title-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.result-item-image {
  object-fit: contain;
  display: block;
}

.result-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  word-wrap: break-word;
  width: 300px;
  padding: 0px;
  margin: 0px;
}

.result-item-type, .result-item-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 0px;
  margin: 0px;
  word-wrap: break-word;
}

.result-item-type {
  grid-area: type;
}

.result-item-price{
  grid-area: price;
}

.result-item-button, .to-favorites-button {
  font-family: "PT Sans", sans-serif;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.result-item-button {
  grid-area: more;
  text-align: center;
  text-decoration: none;
  align-self: center;
  background-color: #756157;
  margin: 0px;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  word-wrap: break-word;
}

.to-favorites-button {
  grid-area: to-favorites;
  background-color: #82b3d3;
  min-height: 37px;
  margin: 0px;
  padding: 0px;
  align-self: center;
  padding-left: 15px;
  padding-right: 15px;
  word-wrap: break-word;
}

.to-favorites-button:hover,
.to-favorites-button:focus,
.apply-filter-button:hover,
.apply-filter-button:focus,
.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
  outline: none;
}

.to-favorites-button:active,
.apply-filter-button:active,
.pagination-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.to-favorites-button:disabled,
.apply-filter-button:disabled,
.pagination-link:disabled {
  background-color: #e5e5e5;
}

.already-favorites {
  background-color: #7db54f;
}

.already-favorites:hover,
.already-favorites:focus {
  background-color: #6c9e42;
}

.already-favorites:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.already-favorites:disabled {
  background-color: #e5e5e5;
}

.star-rating-container {
  grid-area: star-rating;
  align-self: center;
}

.star-rating-list {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-content: center;
}

.star-item {
  width: 18px;
  height: 17px;
  background-image: url("../images/catalog/star.svg");
  margin-right: 6px;
}

.star-item.unset {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.rating {
  display: block;
  box-sizing: border-box;
  grid-area: rating;
  background-color: #F2F2F2;
  border-radius: 4px;
  min-height: 37px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  border: none;
  margin: 0px;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  word-wrap: break-word;
  align-self: center;
}

.pagination-display-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  max-width: 570px;
  list-style-type: none;
}

.pagination-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  min-width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 4px;
  padding: 0px;
  margin: 0px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.pagination-link {
  display: block;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  line-height: 36px;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.pagination-current .pagination-link,
.pagination-current .pagination-link:hover,
.pagination-current .pagination-link:focus,
.pagination-current .pagination-link:active {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link:disabled {
  background-color: #e5e5e5;
}

.result-quantity-wrapper {
  align-self: flex-start;
  margin-top: 6px;
}

.select-quantity-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 0px;
  margin: 0px;
  margin-right: 48px;
}

.select-quantity {
  width: 160px;
  height: 49px;
  background-position: 125px;
  margin: 0px;
  cursor: pointer;
}

.catalog-subscribe {
  background-color: inherit;
  color: #000000;
  text-align: center;
}

/* Modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-hide {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  padding-top: 54px;
  background-color: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-find-hotel {
  box-sizing: border-box;
  width: 715px;
}

.modal-close-button {
  position: absolute;
  padding: 0px;
  margin: auto;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.close-icon {
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
  outline: none;
}

.modal-close-button:active .close-icon {
  color: #a1a1a1;
}

.modal-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  word-wrap: break-word;
  padding: 0px;
  margin: 0px;
  margin-right: 70px;
  margin-top: 8px;
  margin-bottom: 63px;
}

.field-group-container {
  display: grid;
  grid-template-columns: 288px 230px;
  grid-column-gap: 57px;
  margin-bottom: 32px;
}

.find-hotel-form .field-group {
  display: flex;
  justify-content: space-between;
  width: inherit;
  margin: 0px;
  margin-bottom: 8px;
  padding: 0px;
}

.date-input-wrapper {
  position: relative;
  align-self: center;
}

.field-calendar-button {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 4px;
  color: #a9a9a9;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
}

.field-calendar-button:hover {
  color: #000000;
}

.field-calendar-button:focus {
  color: #000000;
  border: 3px solid #83B3D3;
  outline: none;
}

.field-calendar-button:active {
  color: #cccccc;
}

.checkin-field,
.checkout-field {
  width: 420px;
}

.checkin-field-message,
.checkout-field-message {
  display: block;
  grid-column-start: 1;
  grid-column-end: -1;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 0px;
  margin-bottom: 11px;
  margin-left: 154px;
}

.error-message {
  color: #ff5757;
}

.success-message {
  color: #333333;
}

.checkin-field-group,
.checkout-field-group,
.find-hotel-submit-button {
  grid-column-start: 1;
  grid-column-end: -1;
}

.field-label {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  word-wrap: break-word;
  align-self: center;
  max-width: 145px;
}

.find-hotel-field {
  box-sizing: border-box;
  margin: 0px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 49px;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
  padding: 0px;
  padding-left: 19px;
  padding-right: 55px;
  padding-top: 1px;
}

.find-hotel-field:hover {
  background-color: #e6e6e6;
}

.find-hotel-field:focus {
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.find-hotel-field:not(:placeholder-shown) {
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #000000;
  outline: none;
}

.adult-field,
.children-field {
  padding-left: 51px;
  padding-right: 51px;
  width: 133px;
  text-align: center;
}

.children-label-wrapper {
  position: relative;
  align-self: center;
}

.children-label-wrapper
.field-label {
  display: block;
  width: 49px;
  word-break: break-all;
}

.tooltip {
  position: absolute;
  width: 25px;
  height: 25px;
  right: -29px;
  bottom: 24px;
  transform: translateY(100%);
  z-index: 1;
}

.tooltip-toggle {
  padding: 0px;
  margin: 0px;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background-color: #83b3d3;
  display: block;
}

.tooltip-toggle:hover {
  background-color: #68a2ca;
}

.tooltip-text {
  display: block;
  box-sizing: border-box;
  width: 256px;
  background-color: #333333;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: none;
  padding-top: 15px;
  padding-right: 18px;
  padding-bottom: 23px;
  padding-left: 22px;
  border-radius: 10px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 100%;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.tooltip-text:after {
  content:'';
  background-image: url("../images/index/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-100%);
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.quantity-input-wrapper {
  position: relative;
  align-self: center;
}

.adult-decrease-button,
.children-decrease-button {
  position: absolute;
  width: 13px;
  height: 13px;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 4px;
  color: #b3b3b3;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
}

.adult-increase-button,
.children-increase-button {
  position: absolute;
  width: 13px;
  height: 13px;
  right: 19px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 4px;
  color: #b3b3b3;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
}

.adult-decrease-button:hover,
.adult-increase-button:hover,
.children-decrease-button:hover,
.children-increase-button:hover {
  color: #000000;
}

.adult-decrease-button:focus,
.adult-increase-button:focus,
.children-decrease-button:focus,
.children-increase-button:focus {
  color: #000000;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.adult-decrease-button:active,
.adult-increase-button:active,
.children-decrease-button:active,
.children-increase-button:active {
  color: #cccccc;
}

.find-hotel-submit-button {
  font-family: "PT Sans", sans-serif;
  width: 100%;
  min-height: 60px;
  border-radius: 10px;
  background-color: #83b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  word-wrap: break-word;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px;
  cursor: pointer;
}

.find-hotel-submit-button:hover {
  background-color: #68a2ca;
}

.find-hotel-submit-button:focus {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
  outline: none;
}

.find-hotel-submit-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}
